---
layout: main
---

<div class="gameListings">
  {% for post in site.games %}
    <div class="gameListing">
      <a href="{{post.url}}"><img class="gameLogo" src="{{post.logo}}" /></a>
      <a href="{{post.url}}"><div class="gameListingTitle">{{ post.title }}</div></a>
      <ul class="gameListingFlags">
        {% for flag in post.flags %}
          {% if flag == "supporter" %} 
            <li><img src="/assets/img/supporter.png" /> <div class="flagText">Supporter Only</div></li>
          {% endif %}
          {% if flag == "closed" %} 
            <li><img src="/assets/img/closed.png" /> <div class="flagText">Closed</div></li>
          {% endif %}
          {% if flag == "open" %}
            <li><img src="/assets/img/open.png" /> <div class="flagText">Open to Public</div></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>
