body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header {
  width: 1120px;
  margin-top: 50px;
  padding: 25px 80px;
  background-color: $header-background-color;
  border: 1px solid $header-border-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 200px;
}

main,
aside {
  width: 1280px;
  background-color: $main-background-color;
  border: 1px solid $main-border-color;
  margin-top: 25px;
}

.gameLogo {
  width: 200px;
  margin: 8px;
  box-shadow:
    0 0 0 4px rgb(153, 153, 153),
    0 0 0 8px rgb(204, 204, 204)
}

.headerText {
  font-size: 60pt;
  color: rgb(242, 242, 242);
  font-family: $base-header-font-family;
}

.gameListings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gameListing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 15px 75px;
}

.gameListingTitle {
  font-family: $base-header-font-family;
  font-size: 18pt;
  margin-top: 25px;
  color: RGB(41, 171, 226);
}

.gameFlagsHeader {
  padding: 10px 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.gameFlagsHeader > ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 16pt;
  color: rgb(230, 230, 230);
  font-family: $base-header-font-family;
}

.gameFlagsHeader > ul li {
  display: flex;
  align-items: center;
}

.gameFlagsHeader > ul img {
  height: 30px;
  margin-right: 12px;
}

.gameListingFlags {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 12pt;
  color: rgb(230, 230, 230)
}

.gameListingFlags li img {
  height: 25px;
}

.gameListingFlags li {
  font-size: 12pt;
  color: rgb(230, 230, 230);
  margin-top: 6px;
  display: flex;
}

.gameListingFlags li .flagText {
  margin-left: 6px;
}

main {
  padding: 25px 80px;
  width: 1120px;
}